.navWrapper {
	width: 100%;
	height: 8vh;
	background-color: #2374ab;
	display: flex;
	margin: auto;
}

.left {
	// margin-left: 15%;
	width: 70px;
	background-image: url("/logo.png");
	background-color: #cccccc;
	height: 71px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mid {
	width: 70%;
}

.right {
	width: 100%;
}
