@import '../../SASS/variables.scss';
@import '../../SASS/mixIns.scss';

body {
	font-family: sans-serif;
	text-align: center;
	background: linear-gradient(155deg, $color-primary 70%, $color-secondary 70%);
	color: $color-light;
	min-height: 100vh;
}

h1 {
	color: $color-highlight1;
}

h2 {
	color: $color-highlight2;
}

itemDisplay {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 32px;
	margin-left: 10vw;
	margin-right: 10vw;
	@media screen and (max-width: $breakpoint) {
		flex-direction: column;
	}
}

$breakpoint: 800px;
.profile-body {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	margin-top: 32px;
	margin-left: 10vw;
	margin-right: 10vw;
	@media screen and (max-width: $breakpoint) {
		flex-direction: column;
	}
}
.profile-section {
	background-color: $color-highlight1;
	color: $color-primary;
	margin: 16px;
	border-radius: 10px;
	width: 340px;
	.profile-content {
		padding: 20px;
	}
	@media screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.profile-header {
	a {
		@include content-style($style1...);
	}
}

style2 {
	@include content-style($style3...);
}

.profile-section {
	@include content-style($style2...);
}
